<div class="container">
    <div class="row">

        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.attorney_name}}" placeholder="Attorney Name"
                    name="attorney_name">
                <label for="floatingInput">Attorney Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.attorney_law_firm}}" placeholder="Attorney Law Firm"
                    name="attorney_law_firm">
                <label for="floatingInput">Attorney Law Firm</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.law_firm_address}}" placeholder="Law Firm Address"
                    name="law_firm_address">
                <label for="floatingInput">Law Firm Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.attorney_phone}}" placeholder="Phone"
                    name="attorney_phone">
                <label for="floatingInput">Phone</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.attorney_email}}" placeholder="Email"
                    name="attorney_email">
                <label for="floatingInput">Email</label>
            </div>
        </div>
        <div class="col-12 d-grid">
            <button class="btn btn-primary" type="submit">Submit</button>
            <hr>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header bg-danger text-white" id="flush-headingOne">
                        <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            DELETE?
                        </button>
                    </h2>

                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <a href="/delete/{{this.id}}" type="button" class="btn btn-danger"><i
                                    class="bi bi-person-x"></i> Delete</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>