<div class="container">
    <div class="row">

        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.insurance_name}}"
                    placeholder="Insurance Company" name="insurance_name">
                <label for="floatingInput">Insurance Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.insurance_address}}"
                    placeholder="Address" name="insurance_address">
                <label for="floatingInput">Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.insurance_city}}"
                    placeholder="City" name="insurance_city">
                <label for="floatingInput">City</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.insurance_state}}"
                    placeholder="State" name="insurance_state">
                <label for="floatingInput">State</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.insurance_zip}}"
                    placeholder="Zip" name="insurance_zip">
                <label for="floatingInput">Zip Code</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.insurance_phone}}"
                    placeholder="Phone" name="insurance_phone">
                <label for="floatingInput">Phone</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.insurance_fax}}"
                    placeholder="Fax" name="insurance_fax">
                <label for="floatingInput">Fax</label>
            </div>
        </div>
        <div class="col-12 d-grid">
            <button class="btn btn-primary" type="submit">Submit</button>
            <hr>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header bg-danger text-white" id="flush-headingOne">
                        <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            DELETE?
                        </button>
                    </h2>

                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <a href="/delete/{{this.id}}" type="button" class="btn btn-danger"><i
                                    class="bi bi-person-x"></i> Delete</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>